<div class="container mt-4">
    <h1>Angular SignalR Chatter</h1>

    <div class="card p-3 mb-3 bg-light">
        <div class="row g-3 align-items-center">
            <div class="col-auto">
                <label class="col-form-label">Name:</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" [(ngModel)]="name" [disabled]="isSignedIn">
            </div>

            <div class="col-auto">
                <label class="col-form-label">Pwd:</label>
            </div>
            <div class="col-auto">
                <input type="password" class="form-control" [(ngModel)]="password" [disabled]="isSignedIn">
            </div>

            <div class="col-auto">
                <button *ngIf="!isSignedIn" class="btn btn-success" (click)="signIn()">SignIn</button>
                <button *ngIf="isSignedIn" class="btn btn-primary" (click)="signOut()">SignOut</button>
            </div>

            <div class="col-auto text-danger fw-bold" *ngIf="isAdmin && isSignedIn">
                Admin {{nrClients}} clients
            </div>
        </div>

        <div class="row g-3 align-items-center mt-2">
            <div class="col-auto">
                <label class="col-form-label">Topics of interest:</label>
            </div>
            <div class="col-auto">
                <input type="text" class="form-control" [(ngModel)]="topicsInput" placeholder="General, Sports">
            </div>
            <div class="col-auto" *ngIf="isSignedIn">
                <button class="btn btn-primary" (click)="updateTopics()">Update</button>
            </div>
        </div>
    </div>

    <hr>

    <div class="row g-3 mb-3" *ngIf="isSignedIn">
        <div class="col-6">
            <input type="text" class="form-control" [(ngModel)]="currentMessage" placeholder="Nachricht eingeben...">
        </div>
        <div class="col-auto">
            <button class="btn btn-primary" (click)="sendMessage()">Send</button>
        </div>
        <div class="col-auto">
            <input type="text" class="form-control" [(ngModel)]="currentTopic" placeholder="Topic (optional)">
        </div>
    </div>

    <table class="table table-striped table-bordered mt-3">
        <thead class="table-light">
            <tr>
                <th style="width: 150px;">Timestamp</th>
                <th style="width: 150px;">Name</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let msg of messages">
                <td>{{msg.timestamp}}</td>
                <td [class.fw-bold]="msg.isSystem">{{msg.name}}</td>
                <td [class.fst-italic]="msg.isSystem">{{msg.message}}</td>
            </tr>
        </tbody>
    </table>
</div>