html,
body,
app-root {
  height: 100%;
}

body {
  margin: 0;
  padding: 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

//app-root {
//  display: flex;
//  flex-direction: column;
//}

// @tailwind base;
// @tailwind components;
// @tailwind utilities;
